[Unit]
Description=Clear Downloads at shutdown

[Service]
Type=oneshot
User=arjun
ExecStart=/usr/bin/true
RemainAfterExit=yes
ExecStop=/usr/bin/find /home/arjun/Downloads -mindepth 1 -delete

[Install]
WantedBy=default.target
